NEXT_PUBLIC_WORKER_API_URL=https://asr-gallery-worker.pirabakaranpuviraj456.workers.dev/
GALLERY_WORKER_API_URL=https://asr-gallery-worker.pirabakaranpuviraj456.workers.dev/
UPLOAD_PASSCODE=change-this-passcode
